{% extends 'baseFront.html.twig' %}

{% block title %}Ajouter Oeuvre{% endblock %}

{% block body %}
    <h1>Ajouter Oeuvre</h1>

    {{ include('oeuvre/_formfront.html.twig') }}

    
    <a href="{{ path('app_oeuvre_front') }}">back to list</a>
 
{% endblock %}
