{% extends 'baseback.html.twig' %}

{% block title %}Modfier CategorieOeuvre{% endblock %}

{% block body %}
<div>
    <h1>Modifier CategorieOeuvre</h1>

    {{ include('categorie_oeuvre/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_categorie_oeuvre_index') }}">retour a la liste</a>

    {{ include('categorie_oeuvre/_delete_form.html.twig') }}
    </div>
{% endblock %}
